@import url("https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400;600&display=swap");

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: #f5f5f5;
}
